<div class="top">
    <div class="firstTopDiv">
        <i id="home" class='fa fa-bars' style='font-size:20px;color:gray; padding: 10px;'></i>
        <img src="../../../assets/Google.png" alt="google img" width="90" />
        <a class="nav-link" routerLink="/googleTrans"> <span class="trans">Translate</span></a>
        <a class="nav-link" routerLink="/editor"> <span class="trans">Editor</span></a>
    </div>
    <div class="secondTopDiv">
        <div class="points">
            <i class="fa fa-ellipsis-v" style="font-size:20px; color: gray;"></i>
            <i class="fa fa-ellipsis-v" style="font-size:20px; color: gray;"></i>
            <i class="fa fa-ellipsis-v" style="font-size:20px; color: gray;"></i>
        </div>
        &nbsp;&nbsp;
        <div class="logo">K</div>
    </div>
</div>

