.form-box {
    width: 100%;
    padding: 40px 70px;

    textarea {
        width: 80%;
        padding: 10px;
        outline: none !important;
        font-size: 30px;
        border: 1px solid black;
    }
}
.btn-box{
    padding: 30px 70px;
    button{
        margin: 5px;
    }
}